# Î¨¥Ïó≠ Îç∞Ïù¥ÌÑ∞ EDA (HS4 / item_id Îã®ÏúÑ EDA Î∞è micro-level deep dive)

In [ ]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns


df_train = pd.read_csv('train.csv')
print(df_train.head())
df_submission = pd.read_csv('sample_submission.csv')
print(df_submission.head())

    item_id  year  month  seq  type   hs4    weight  quantity     value
0  DEWLVASR  2022      1  1.0     1  3038   14858.0       0.0   32688.0
1  ELQGMQWE  2022      1  1.0     1  2002   62195.0       0.0  110617.0
2  AHMDUILJ  2022      1  1.0     1  2102   18426.0       0.0   72766.0
3  XIPPENFQ  2022      1  1.0     1  2501   20426.0       0.0   11172.0
4  FTSVTTSR  2022      1  1.0     1  2529  248000.0       0.0  143004.0
  leading_item_id following_item_id      value
0        DEWLVASR          ELQGMQWE  999999999
1        DEWLVASR          AHMDUILJ  999999999
2        DEWLVASR          XIPPENFQ  999999999
3        DEWLVASR          FTSVTTSR  999999999
4        DEWLVASR          XMKRPGLB  999999999

## 1. Ï†ÑÏ≤òÎ¶¨

- zero / missing flag ÏÉùÏÑ±:
  - value, weight, quantityÏùò 0ÏùÄ Ï†ïÏÉÅÏ†ÅÏùº Ïàò ÏûàÏùå üëâ Ï†úÍ±∞ X
  - ÎåÄÏã† zero Ìå®ÌÑ¥ ÏûêÏ≤¥Î•º featureÎ°ú Ïù∏ÏãùÌïòÍ∏∞ ÏúÑÌï¥ flag ÏÉùÏÑ±.

- Í≤∞Ï∏°Ïπò Ï≤òÎ¶¨:
  - weight, quantity, value Í≤∞Ï∏°ÏùÄ Î≥¥Í∞ÑÌïòÏßÄ ÏïäÏùå (ÏùòÎØ∏ ÏûàÎäî Í≤∞Ï∏°Ïù¥Í∏∞ ÎïåÎ¨∏)

- item_id / HS4 Îã®ÏúÑ monthly pivot ÏÉùÏÑ±
  - ‚Üí Comovement Î∂ÑÏÑùÏùò Í∏∞Î≥∏ Îã®ÏúÑÎ°ú ÏÇ¨Ïö©Îê† ÏãúÍ≥ÑÏó¥ Íµ¨Ï°∞ ÌôïÎ≥¥.

In [14]:
# -----------------------------
# 2. Create date column
# Why? ÏãúÍ≥ÑÏó¥ EDA Î∞è lag-lead Î∂ÑÏÑùÏóê ÌïÑÏàò
# -----------------------------
df_train["date"] = df_train["year"].astype(str) + "-" + df_train["month"].astype(str)
df_train["date"] = pd.to_datetime(df_train["date"]).dt.to_period("M")

# -----------------------------
# 3. Ensure numeric type
# -----------------------------
for col in ['value','weight','quantity']:
    df_train[col] = pd.to_numeric(df_train[col], errors='coerce')

# -----------------------------
# 4. Zero-aware preprocessing
# ZeroÎäî Ï†úÍ±∞ÌïòÏßÄ ÏïäÍ≥† flagÎ°ú Î≥¥Ï°¥ (Ìå®ÌÑ¥ Î∂ÑÏÑùÏö©)
# -----------------------------
df_train['value_zero'] = (df_train['value'] == 0).astype(int)
df_train['weight_zero'] = (df_train['weight'] == 0).astype(int)
df_train['quantity_zero'] = (df_train['quantity'] == 0).astype(int)


df_train.head(20)

,item_id,year,month,seq,type,hs4,weight,quantity,value,value_zero,weight_zero,quantity_zero,value_missing,weight_missing,quantity_missing,date
0,DEWLVASR,2022,1,1.0,1,3038,14858.0,0.0,32688.0,0,0,1,0,0,0,2022-01
1,ELQGMQWE,2022,1,1.0,1,2002,62195.0,0.0,110617.0,0,0,1,0,0,0,2022-01
2,AHMDUILJ,2022,1,1.0,1,2102,18426.0,0.0,72766.0,0,0,1,0,0,0,2022-01
3,XIPPENFQ,2022,1,1.0,1,2501,20426.0,0.0,11172.0,0,0,1,0,0,0,2022-01
4,FTSVTTSR,2022,1,1.0,1,2529,248000.0,0.0,143004.0,0,0,1,0,0,0,2022-01
5,XMKRPGLB,2022,1,1.0,1,2529,558000.0,0.0,205676.0,0,0,1,0,0,0,2022-01
6,RCBZUSIM,2022,1,1.0,1,2805,0.0,0.0,459.0,0,1,1,0,0,0,2022-01
7,SUOYXCHP,2022,1,1.0,1,2805,0.0,0.0,482.0,0,1,1,0,0,0,2022-01
8,ZKENOUDA,2022,1,1.0,1,2805,2.0,0.0,2783.0,0,0,1,0,0,0,2022-01
9,WQMVCOEM,2022,1,1.0,1,2805,187.0,0.0,217777.0,0,0,1,0,0,0,2022-01
10,BSRMSVTC,2022,1,1.0,1,2805,111.0,0.0,33952.0,0,0,1,0,0,0,2022-01
11,DDEXPPXU,2022,1,1.0,1,2807,387.0,0.0,13158.0,0,0,1,0,0,0,2022-01
12,LLHREMKS,2022,1,1.0,1,2807,319.0,0.0,8705.0,0,0,1,0,0,0,2022-01
13,DNMPSKTB,2022,1,1.0,1,2811,1748972.0,0.0,3961879.0,0,0,1,0,0,0,2022-01
14,WPQXWHYO,2022,1,1.0,1,2811,2367757.0,0.0,4518277.0,0,0,1,0,0,0,2022-01
15,VWMBASNE,2022,1,1.0,1,2811,94038.0,0.0,48737.0,0,0,1,0,0,0,2022-01
16,RJGPVEXX,2022,1,1.0,1,2811,18029.0,0.0,256916.0,0,0,1,0,0,0,2022-01
17,ATLDMDBO,2022,1,1.0,1,2814,68878617.0,0.0,60548596.0,0,0,1,0,0,0,2022-01
18,SAHWCZNH,2022,1,1.0,1,2825,20305.0,0.0,505311.0,0,0,1,0,0,0,2022-01
19,LUENUFGA,2022,1,1.0,1,2833,54965.0,0.0,271528.0,0,0,1,0,0,0,2022-01

In [10]:
df_train['month'].value_counts()

month
7     1033
2     1022
4     1008
5     1004
6     1000
3      997
1      991
12     777
11     761
9      757
8      743
10     743
Name: count, dtype: int64

### Î™®Îì† item_id √ó Î™®Îì† month Ìå®ÎÑê ÏôÑÏÑ±(Panel Completion)

ÌòÑÏû¨ Îç∞Ïù¥ÌÑ∞Îäî Î™®Îì† item_idÍ∞Ä Î™®Îì† ÏõîÏóê Îì±Ïû•ÌïòÏßÄ ÏïäÏùå ‚Üí Í≥µÌñâÏÑ± Î∂ÑÏÑùÏóêÏÑú ÌÅ∞ Î¨∏Ï†úÎê®.
ÎèôÏãúÏóê Ï°¥Ïû¨ÌïòÎäî ÏãúÍ≥ÑÏó¥ÎÅºÎ¶¨ ÎπÑÍµêÌï¥Ïïº Ìï®

Ïòà:
- A itemÏùÄ 2022~2025 Ï†Ñ Í∏∞Í∞Ñ Ï°¥Ïû¨
- B itemÏùÄ ÌäπÏ†ï Í≥ÑÏ†àÎßå Ï°¥Ïû¨
- C itemÏùÄ Ï§ëÍ∞ÑÏóê Íµ¨Î©ç ÏûàÏùå

Ïù¥Îü∞ ÏÉÅÌÉúÏóêÏÑú comovement correlation Í≥ÑÏÇ∞ÌïòÎ©¥ ÏãúÍ≥ÑÏó¥ Í∏∏Ïù¥Í∞Ä Î∂àÏùºÏπò ‚Üí Ïò§Î•ò / ÏôúÍ≥° Î∞úÏÉù, ÏÉÅÍ¥ÄÍ≥ÑÏàò Í≥ÑÏÇ∞ Î∂àÍ∞Ä<br>
- A : 2022.01 ~ 2025.07 Î™®Îì† Îã¨Ïóê Ï°¥Ïû¨ = 42Í∞úÏõî
- C : 2022.03 ~ 2023.05 ÏùºÎ∂Ä Îã¨Ïóê Ï°¥Ïû¨ = 15Í∞úÏõî
‚Üí Î∞òÎìúÏãú Ìï¥Ïïº ÌïòÎäî Ï†ÑÏ≤òÎ¶¨:<br>
Î™®Îì† item_id √ó Î™®Îì† month Ï°∞Ìï©ÏùÑ ÎßåÎì§Í≥† ÏóÜÎäî rowÎäî 0 ÎòêÎäî NaNÏúºÎ°ú Ï±ÑÏö∞Í∏∞

In [15]:
# Î™®Îì† Ïõî Î≤îÏúÑ ÏÉùÏÑ±
full_months = pd.date_range(df_train['date'].min(), df_train['date'].max(), freq="MS")

# Î™®Îì† item_id √ó Î™®Îì† month
panel = pd.MultiIndex.from_product(
    [df_train['item_id'].unique(), full_months],
    names=['item_id','date']
).to_frame(index=False)

# merge to complete panel
df_panel = panel.merge(df_train, on=['item_id','date'], how='left')

df_panel.head()

ValueError: Cannot convert Period to Timestamp unambiguously. Use to_timestamp

## 2. HS4 / item_id Íµ∞ÏßëÏÑ± Î∂ÑÏÑù

In [ ]:
hs4_summary = df.groupby('hs4')[['value','weight']].mean().reset_index()
hs4_qty_rate = (
    df.assign(qty_valid = df['quantity'].notna() & (df['quantity']>0))
      .groupby('hs4')['qty_valid']
      .mean()
      .reset_index(name='quantity_usage_rate')
)
hs4_summary.head(), hs4_qty_rate.head()

## 3. item_id Deep Dive

In [ ]:
sample_items = np.random.choice(df['item_id'].unique(), size=8, replace=False)
sample_df = df[df['item_id'].isin(sample_items)]
monthly_trend = sample_df.groupby(['item_id','date'])[['value','weight','quantity']].sum().reset_index()
monthly_trend.head()