# EV ë°°í„°ë¦¬ ê³µê¸‰ë§ ë°ì´í„° ì „ì²˜ë¦¬ íŒŒì´í”„ë¼ì¸

ì´ ë…¸íŠ¸ë¶ì€ ë¬´ì—­ ë°ì´í„°ë¥¼ EV ë°°í„°ë¦¬ ê³µê¸‰ë§ ë„ë©”ì¸ ê´€ì ì—ì„œ ì „ì²˜ë¦¬í•©ë‹ˆë‹¤.

## ì „ì²˜ë¦¬ ë‹¨ê³„
1. ê¸°ë³¸ ë¡œë“œ & ë³´ì¡° ì»¬ëŸ¼ ìƒì„±
2. item_id-hs4 ë§¤í•‘ í™•ë³´
3. (item_id, year, month) ë‹¨ìœ„ ì›”ë³„ ì§‘ê³„
4. EV ë°°í„°ë¦¬ ê³µê¸‰ë§ ë„ë©”ì¸ í´ëŸ¬ìŠ¤í„° ë¼ë²¨ë§
5. quantity ì²˜ë¦¬ (êµ¬ì¡°ì  ê²°ì¸¡ ë°˜ì˜)
6. 0ê°’ ê¸°ë°˜ "ì‚¬ì‹¤ìƒ ê²°ì¸¡" í”Œë˜ê·¸
7. weight_sum / value_sum ê²°ì¸¡ì„± ë³´ì •
8. ê·¹ë‹¨ê°’(ì´ìƒì¹˜) ì²˜ë¦¬: í´ë¦¬í•‘ + í”Œë˜ê·¸
9. ë¡œê·¸ ë³€í™˜ í”¼ì²˜
10. ì•„ì´í…œë³„ ë³€ë™ì„± ì‹œê°í™”
11. ìµœì¢… ê²°ê³¼ ì €ì¥

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

print("ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¡œë“œ ì™„ë£Œ")

ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¡œë“œ ì™„ë£Œ

## 1ï¸âƒ£ ê¸°ë³¸ ë¡œë“œ & ë³´ì¡° ì»¬ëŸ¼ ìƒì„±

In [2]:
# train.csvë¥¼ ë¡œë“œí•˜ê³  year, monthë¡œ ym ì»¬ëŸ¼ ìƒì„±
df_train = pd.read_csv('../data/train.csv')

# year, monthë¥¼ ì´ìš©í•´ datetime ì»¬ëŸ¼ ìƒì„±
df_train['ym'] = pd.to_datetime(
    df_train['year'].astype(str) + "-" + df_train['month'].astype(str).str.zfill(2) + "-01"
)

print(f"ë°ì´í„° ë¡œë“œ ì™„ë£Œ: {len(df_train):,}í–‰")
print(f"ì»¬ëŸ¼: {df_train.columns.tolist()}")
df_train.head()

ë°ì´í„° ë¡œë“œ ì™„ë£Œ: 10,836í–‰
ì»¬ëŸ¼: ['item_id', 'year', 'month', 'seq', 'type', 'hs4', 'weight', 'quantity', 'value', 'ym']

,item_id,year,month,seq,type,hs4,weight,quantity,value,ym
0,DEWLVASR,2022,1,1.0,1,3038,14858.0,0.0,32688.0,2022-01-01
1,ELQGMQWE,2022,1,1.0,1,2002,62195.0,0.0,110617.0,2022-01-01
2,AHMDUILJ,2022,1,1.0,1,2102,18426.0,0.0,72766.0,2022-01-01
3,XIPPENFQ,2022,1,1.0,1,2501,20426.0,0.0,11172.0,2022-01-01
4,FTSVTTSR,2022,1,1.0,1,2529,248000.0,0.0,143004.0,2022-01-01

## 2ï¸âƒ£ item_id-hs4 ë§¤í•‘ í™•ë³´

In [3]:
# ê°™ì€ item_idëŠ” í•­ìƒ ë™ì¼í•œ hs4ë¥¼ ê°€ì§„ë‹¤ëŠ” ê°€ì •
# (item_id, hs4) ìœ ì¼ ì¡°í•©ìœ¼ë¡œ ë§¤í•‘ í…Œì´ë¸” ìƒì„±
item_hs4_map = (
    df_train[['item_id', 'hs4']]
    .drop_duplicates()
    .set_index('item_id')['hs4']
    .to_dict()
)

print(f"item_id-hs4 ë§¤í•‘ ì™„ë£Œ: {len(item_hs4_map):,}ê°œ item_id")
print(f"ì˜ˆì‹œ: {list(item_hs4_map.items())[:5]}")

item_id-hs4 ë§¤í•‘ ì™„ë£Œ: 100ê°œ item_id
ì˜ˆì‹œ: [('DEWLVASR', 3038), ('ELQGMQWE', 2002), ('AHMDUILJ', 2102), ('XIPPENFQ', 2501), ('FTSVTTSR', 2529)]

## 3ï¸âƒ£ (item_id, year, month) ë‹¨ìœ„ ì›”ë³„ ì§‘ê³„

In [4]:
# value, weight, quantityë¥¼ í•©ì‚°í•˜ì—¬ ì›”ë³„ ì§‘ê³„ ìƒì„±
monthly_features = (
    df_train.groupby(['item_id', 'year', 'month'], as_index=False)
    .agg({
        'value': 'sum',
        'weight': 'sum',
        'quantity': 'sum',
        'ym': 'first'  # ymì€ ë™ì¼í•˜ë¯€ë¡œ first ì‚¬ìš©
    })
    .rename(columns={
        'value': 'value_sum',
        'weight': 'weight_sum',
        'quantity': 'quantity_sum'
    })
)

# item_id-hs4 ë§¤í•‘ ì ìš©
monthly_features['hs4'] = monthly_features['item_id'].map(item_hs4_map)

print(f"ì›”ë³„ ì§‘ê³„ ì™„ë£Œ: {len(monthly_features):,}í–‰")
monthly_features.head()

ì›”ë³„ ì§‘ê³„ ì™„ë£Œ: 3,776í–‰

    item_id  year  month  value_sum  weight_sum  quantity_sum         ym   hs4
0  AANGBULD  2022      1    14276.0     17625.0           0.0 2022-01-01  4810
1  AANGBULD  2022      2    52347.0     67983.0           0.0 2022-02-01  4810
2  AANGBULD  2022      3    53549.0     69544.0           0.0 2022-03-01  4810
3  AANGBULD  2022      5    26997.0     34173.0           0.0 2022-05-01  4810
4  AANGBULD  2022      6    84489.0    103666.0           0.0 2022-06-01  4810

## 4ï¸âƒ£ EV ë°°í„°ë¦¬ ê³µê¸‰ë§ ë„ë©”ì¸ í´ëŸ¬ìŠ¤í„° ë¼ë²¨ë§

In [5]:
# hs4ë¥¼ ë¬¸ìì—´ë¡œ ë³€í™˜í•˜ê³  HS2 ì¶”ì¶œ
hs4_str = monthly_features['hs4'].astype(str).str.zfill(4)
monthly_features['hs2'] = hs4_str.str[:2]

# í´ëŸ¬ìŠ¤í„° ë¼ë²¨ë§ í•¨ìˆ˜
def assign_cluster(hs2):
    if hs2 in ["27", "28", "29", "31", "38", "39", "72", "79", "81"]:
        return "battery_materials"  # ë°°í„°ë¦¬ ì†Œì¬Â·í™”í•™Â·ê¸ˆì†
    elif hs2 in ["84", "85", "87", "90"]:
        return "ev_machinery_electrical"  # EVÂ·ì„¤ë¹„Â·ì „ê¸°ê¸°ê¸°
    else:
        return "other_industries"  # ê¸°íƒ€ ì‚°ì—…

monthly_features['cluster'] = monthly_features['hs2'].apply(assign_cluster)

print("í´ëŸ¬ìŠ¤í„° ë¼ë²¨ë§ ì™„ë£Œ")
print(monthly_features['cluster'].value_counts())
monthly_features[['item_id', 'hs4', 'hs2', 'cluster']].head(10)

í´ëŸ¬ìŠ¤í„° ë¼ë²¨ë§ ì™„ë£Œ
cluster
battery_materials          1818
other_industries           1364
ev_machinery_electrical     594
Name: count, dtype: int64

    item_id   hs4 hs2           cluster
0  AANGBULD  4810  48  other_industries
1  AANGBULD  4810  48  other_industries
2  AANGBULD  4810  48  other_industries
3  AANGBULD  4810  48  other_industries
4  AANGBULD  4810  48  other_industries
5  AANGBULD  4810  48  other_industries
6  AANGBULD  4810  48  other_industries
7  AANGBULD  4810  48  other_industries
8  AANGBULD  4810  48  other_industries
9  AANGBULD  4810  48  other_industries

## 5ï¸âƒ£ quantity ì²˜ë¦¬ (êµ¬ì¡°ì  ê²°ì¸¡ ë°˜ì˜)

In [6]:
# hs4ë³„ë¡œ quantity_sum > 0ì¸ rowê°€ í•˜ë‚˜ë¼ë„ ìˆëŠ”ì§€ í™•ì¸
hs4_has_quantity = (
    monthly_features.groupby('hs4')['quantity_sum']
    .apply(lambda x: (x > 0).any())
    .to_dict()
)

# í•´ë‹¹ hs4ì—ì„œ quantity ì •ë³´ê°€ ì˜ë¯¸ ìˆëŠ”ì§€ í”Œë˜ê·¸
monthly_features['has_quantity_info_hs4'] = monthly_features['hs4'].map(hs4_has_quantity).astype(int)

# í˜„ì¬ rowì˜ quantity_sum > 0 ì—¬ë¶€
monthly_features['has_quantity_this_row'] = (monthly_features['quantity_sum'] > 0).astype(int)

print("Quantity ì²˜ë¦¬ ì™„ë£Œ")
print(f"  - ìˆ˜ëŸ‰ ì •ë³´ ì˜ë¯¸ ìˆëŠ” HS4: {monthly_features['has_quantity_info_hs4'].sum():,}í–‰")
print(f"  - ìˆ˜ëŸ‰ ì¡´ì¬í•˜ëŠ” í–‰: {monthly_features['has_quantity_this_row'].sum():,}í–‰")
monthly_features[['hs4', 'quantity_sum', 'has_quantity_info_hs4', 'has_quantity_this_row']].head(10)

Quantity ì²˜ë¦¬ ì™„ë£Œ
  - ìˆ˜ëŸ‰ ì •ë³´ ì˜ë¯¸ ìˆëŠ” HS4: 746í–‰
  - ìˆ˜ëŸ‰ ì¡´ì¬í•˜ëŠ” í–‰: 703í–‰

    hs4  quantity_sum  has_quantity_info_hs4  has_quantity_this_row
0  4810           0.0                      0                      0
1  4810           0.0                      0                      0
2  4810           0.0                      0                      0
3  4810           0.0                      0                      0
4  4810           0.0                      0                      0
5  4810           0.0                      0                      0
6  4810           0.0                      0                      0
7  4810           0.0                      0                      0
8  4810           0.0                      0                      0
9  4810           0.0                      0                      0

## 6ï¸âƒ£ 0ê°’ ê¸°ë°˜ "ì‚¬ì‹¤ìƒ ê²°ì¸¡" í”Œë˜ê·¸

In [7]:
# ê¸°ë³¸ 0ê°’ í”Œë˜ê·¸
monthly_features['weight_zero_flag'] = (monthly_features['weight_sum'] == 0).astype(int)
monthly_features['value_zero_flag'] = (monthly_features['value_sum'] == 0).astype(int)

# ì‚¬ì‹¤ìƒ ê²°ì¸¡ í”Œë˜ê·¸
# weightê°€ 0ì¸ë° valueëŠ” ìˆìŒ â†’ ë¬´ê²Œ ì •ë³´ ë¯¸ê¸°ì… ê°€ëŠ¥ì„±
monthly_features['weight_missing_flag'] = (
    (monthly_features['weight_sum'] == 0) & (monthly_features['value_sum'] > 0)
).astype(int)

# valueê°€ 0ì¸ë° weightëŠ” ìˆìŒ â†’ ê¸ˆì•¡ ì •ë³´ ë¯¸ê¸°ì… ê°€ëŠ¥ì„±
monthly_features['value_missing_flag'] = (
    (monthly_features['value_sum'] == 0) & (monthly_features['weight_sum'] > 0)
).astype(int)

print("0ê°’/ê²°ì¸¡ í”Œë˜ê·¸ ìƒì„± ì™„ë£Œ")
print(f"  - weight_zero_flag: {monthly_features['weight_zero_flag'].sum():,}í–‰")
print(f"  - value_zero_flag: {monthly_features['value_zero_flag'].sum():,}í–‰")
print(f"  - weight_missing_flag: {monthly_features['weight_missing_flag'].sum():,}í–‰")
print(f"  - value_missing_flag: {monthly_features['value_missing_flag'].sum():,}í–‰")

0ê°’/ê²°ì¸¡ í”Œë˜ê·¸ ìƒì„± ì™„ë£Œ
  - weight_zero_flag: 91í–‰
  - value_zero_flag: 0í–‰
  - weight_missing_flag: 91í–‰
  - value_missing_flag: 0í–‰

## 7ï¸âƒ£ weight_sum / value_sum ê²°ì¸¡ì„± ë³´ì •

In [8]:
# ì¤‘ì•™ê°’ ì‚¬ì „ ê³„ì‚° (íš¨ìœ¨ì„±ì„ ìœ„í•´ dictë¡œ ì €ì¥)
item_weight_median = monthly_features.groupby('item_id')['weight_sum'].median().to_dict()
hs4_weight_median = monthly_features.groupby('hs4')['weight_sum'].median().to_dict()
global_weight_median = monthly_features['weight_sum'].median()

item_value_median = monthly_features.groupby('item_id')['value_sum'].median().to_dict()
hs4_value_median = monthly_features.groupby('hs4')['value_sum'].median().to_dict()
global_value_median = monthly_features['value_sum'].median()

print(f"ì¤‘ì•™ê°’ ê³„ì‚° ì™„ë£Œ")
print(f"  - ì „ì²´ weight ì¤‘ì•™ê°’: {global_weight_median:,.0f}")
print(f"  - ì „ì²´ value ì¤‘ì•™ê°’: {global_value_median:,.0f}")

ì¤‘ì•™ê°’ ê³„ì‚° ì™„ë£Œ
  - ì „ì²´ weight ì¤‘ì•™ê°’: 27,536
  - ì „ì²´ value ì¤‘ì•™ê°’: 382,516

In [9]:
# weight_filled: weight_missing_flag == 1ì¸ ê²½ìš° ê³„ì¸µì  ë³´ì •
monthly_features['weight_filled'] = monthly_features['weight_sum'].copy()

missing_weight_mask = monthly_features['weight_missing_flag'] == 1
if missing_weight_mask.sum() > 0:
    # item_id ì¤‘ì•™ê°’ìœ¼ë¡œ ë¨¼ì € ì‹œë„
    monthly_features.loc[missing_weight_mask, 'weight_filled'] = (
        monthly_features.loc[missing_weight_mask, 'item_id'].map(item_weight_median)
    )
    
    # item_id ì¤‘ì•™ê°’ì´ ì—†ê±°ë‚˜ 0ì¸ ê²½ìš° hs4 ì¤‘ì•™ê°’ìœ¼ë¡œ
    still_missing = (monthly_features['weight_filled'].isna()) | (monthly_features['weight_filled'] == 0)
    monthly_features.loc[still_missing & missing_weight_mask, 'weight_filled'] = (
        monthly_features.loc[still_missing & missing_weight_mask, 'hs4'].map(hs4_weight_median)
    )
    
    # ê·¸ê²ƒë„ ì•ˆ ë˜ë©´ ì „ì²´ ì¤‘ì•™ê°’
    still_missing = (monthly_features['weight_filled'].isna()) | (monthly_features['weight_filled'] == 0)
    monthly_features.loc[still_missing & missing_weight_mask, 'weight_filled'] = global_weight_median

print(f"weight_filled ë³´ì • ì™„ë£Œ: {missing_weight_mask.sum():,}í–‰")

weight_filled ë³´ì • ì™„ë£Œ: 91í–‰

In [10]:
# value_filled: value_missing_flag == 1ì¸ ê²½ìš° ê³„ì¸µì  ë³´ì •
monthly_features['value_filled'] = monthly_features['value_sum'].copy()

missing_value_mask = monthly_features['value_missing_flag'] == 1
if missing_value_mask.sum() > 0:
    # item_id ì¤‘ì•™ê°’ìœ¼ë¡œ ë¨¼ì € ì‹œë„
    monthly_features.loc[missing_value_mask, 'value_filled'] = (
        monthly_features.loc[missing_value_mask, 'item_id'].map(item_value_median)
    )
    
    # item_id ì¤‘ì•™ê°’ì´ ì—†ê±°ë‚˜ 0ì¸ ê²½ìš° hs4 ì¤‘ì•™ê°’ìœ¼ë¡œ
    still_missing = (monthly_features['value_filled'].isna()) | (monthly_features['value_filled'] == 0)
    monthly_features.loc[still_missing & missing_value_mask, 'value_filled'] = (
        monthly_features.loc[still_missing & missing_value_mask, 'hs4'].map(hs4_value_median)
    )
    
    # ê·¸ê²ƒë„ ì•ˆ ë˜ë©´ ì „ì²´ ì¤‘ì•™ê°’
    still_missing = (monthly_features['value_filled'].isna()) | (monthly_features['value_filled'] == 0)
    monthly_features.loc[still_missing & missing_value_mask, 'value_filled'] = global_value_median

print(f"value_filled ë³´ì • ì™„ë£Œ: {missing_value_mask.sum():,}í–‰")
monthly_features[['weight_sum', 'weight_filled', 'value_sum', 'value_filled', 
                  'weight_missing_flag', 'value_missing_flag']].head(10)

value_filled ë³´ì • ì™„ë£Œ: 0í–‰

,weight_sum,weight_filled,value_sum,value_filled,weight_missing_flag,value_missing_flag
0,17625.0,17625.0,14276.0,14276.0,0,0
1,67983.0,67983.0,52347.0,52347.0,0,0
2,69544.0,69544.0,53549.0,53549.0,0,0
3,34173.0,34173.0,26997.0,26997.0,0,0
4,103666.0,103666.0,84489.0,84489.0,0,0
5,67.0,67.0,299.0,299.0,0,0
6,66.0,66.0,574.0,574.0,0,0
7,50281.0,50281.0,41353.0,41353.0,0,0
8,32345.0,32345.0,26524.0,26524.0,0,0
9,70.0,70.0,340.0,340.0,0,0

## 8ï¸âƒ£ ê·¹ë‹¨ê°’(ì´ìƒì¹˜) ì²˜ë¦¬: í´ë¦¬í•‘ + í”Œë˜ê·¸

In [11]:
# 99 ë¶„ìœ„ìˆ˜ ê³„ì‚°
q99_value = monthly_features['value_filled'].quantile(0.99)
q99_weight = monthly_features['weight_filled'].quantile(0.99)
q99_quantity = monthly_features['quantity_sum'].quantile(0.99)

print(f"99 ë¶„ìœ„ìˆ˜:")
print(f"  - value: {q99_value:,.0f}")
print(f"  - weight: {q99_weight:,.0f}")
print(f"  - quantity: {q99_quantity:,.0f}")

# ê·¹ë‹¨ê°’ í”Œë˜ê·¸
monthly_features['value_extreme_flag'] = (monthly_features['value_filled'] > q99_value).astype(int)
monthly_features['weight_extreme_flag'] = (monthly_features['weight_filled'] > q99_weight).astype(int)
monthly_features['quantity_extreme_flag'] = (monthly_features['quantity_sum'] > q99_quantity).astype(int)

# í´ë¦¬í•‘ëœ ì»¬ëŸ¼ ìƒì„±
monthly_features['value_clip'] = np.minimum(monthly_features['value_filled'], q99_value)
monthly_features['weight_clip'] = np.minimum(monthly_features['weight_filled'], q99_weight)
monthly_features['quantity_clip'] = np.minimum(monthly_features['quantity_sum'], q99_quantity)

print(f"\nì´ìƒì¹˜ ì²˜ë¦¬ ì™„ë£Œ")
print(f"  - value_extreme_flag: {monthly_features['value_extreme_flag'].sum():,}í–‰")
print(f"  - weight_extreme_flag: {monthly_features['weight_extreme_flag'].sum():,}í–‰")
print(f"  - quantity_extreme_flag: {monthly_features['quantity_extreme_flag'].sum():,}í–‰")

99 ë¶„ìœ„ìˆ˜:
  - value: 103,704,968
  - weight: 76,572,396
  - quantity: 1,545,930

ì´ìƒì¹˜ ì²˜ë¦¬ ì™„ë£Œ
  - value_extreme_flag: 38í–‰
  - weight_extreme_flag: 38í–‰
  - quantity_extreme_flag: 38í–‰

## 9ï¸âƒ£ ë¡œê·¸ ë³€í™˜ í”¼ì²˜

## ğŸ“Š ì•„ì´í…œë³„ ë³€ë™ì„± ì‹œê°í™” (ì›ë³¸ ë°ì´í„° ê¸°ì¤€)

âš ï¸ **ì£¼ì˜**: ì´ ì„¹ì…˜ì€ **ë³´ì •/í´ë¦¬í•‘ ì—†ì´ ì›ë³¸ ë°ì´í„°(`value_sum`)ë¡œ ë³€ë™ì„±ì„ ê³„ì‚°**í•©ë‹ˆë‹¤.
- ê²°ì¸¡ì¹˜ ì¤‘ì•™ê°’ ë³´ì • ì—†ìŒ
- ê·¹ë‹¨ê°’ í´ë¦¬í•‘ ì—†ìŒ
- ì›ë³¸ ë°ì´í„° ê·¸ëŒ€ë¡œ ì‚¬ìš©

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# í•œê¸€ í°íŠ¸ ì„¤ì • (macOSì˜ ê²½ìš°)
try:
    plt.rcParams['font.family'] = 'AppleGothic'
except:
    plt.rcParams['font.family'] = 'DejaVu Sans'
plt.rcParams['axes.unicode_minus'] = False

# ============================================================
# ì›ë³¸ ë°ì´í„°ë¡œ ë³€ë™ì„± ê³„ì‚° (ë³´ì •/í´ë¦¬í•‘ ì—†ìŒ)
# ============================================================
print("="*70)
print("ì•„ì´í…œë³„ ë³€ë™ì„± ë¶„ì„ (ì›ë³¸ ë°ì´í„° ê¸°ì¤€)")
print("="*70)
print("âš ï¸  ê²°ì¸¡ì¹˜ ë³´ì • ì—†ìŒ, ê·¹ë‹¨ê°’ ì²˜ë¦¬ ì—†ìŒ")
print("="*70)

# ì•„ì´í…œë³„ ë³€ë™ì„± ì§€í‘œ ê³„ì‚° (ì›ë³¸ value_sum ì‚¬ìš©)
volatility_metrics = []

for item_id in monthly_features['item_id'].unique():
    item_data = monthly_features[monthly_features['item_id'] == item_id].sort_values('ym')
    
    if len(item_data) < 2:
        continue
    
    # ì›ë³¸ ë°ì´í„° ì‚¬ìš© (ë³´ì •/í´ë¦¬í•‘ ì—†ìŒ)
    value_series = item_data['value_sum'].values
    
    # 0ì´ ì•„ë‹Œ ê°’ë§Œ ì‚¬ìš© (ì‹¤ì œ ê±°ë˜ê°€ ìˆëŠ” ê²½ìš°ë§Œ)
    non_zero_mask = value_series > 0
    if non_zero_mask.sum() < 2:  # 0ì´ ì•„ë‹Œ ê°’ì´ 2ê°œ ë¯¸ë§Œì´ë©´ ìŠ¤í‚µ
        continue
    
    value_nonzero = value_series[non_zero_mask]
    
    # ë¡œê·¸ ë³€í™˜ (ì›ë³¸ ê°’ ê¸°ì¤€)
    log_value_series = np.log1p(value_nonzero)
    
    # ë³€í™”ìœ¨ ê³„ì‚° (ì›ë³¸ ê°’ ê¸°ì¤€)
    pct_changes = item_data['value_sum'].pct_change().dropna()
    # inf, -inf ì œê±°
    pct_changes = pct_changes[np.isfinite(pct_changes)]
    pct_change_std = np.std(pct_changes) if len(pct_changes) > 0 else 0
    
    # ë³€ë™ì„± ì§€í‘œ ê³„ì‚° (ì›ë³¸ ë°ì´í„° ê¸°ì¤€)
    metrics = {
        'item_id': item_id,
        'hs4': item_data['hs4'].iloc[0],
        'cluster': item_data['cluster'].iloc[0],
        'n_months': len(item_data),
        'n_nonzero': non_zero_mask.sum(),  # 0ì´ ì•„ë‹Œ ì›” ìˆ˜
        'mean_value': np.mean(value_nonzero) if len(value_nonzero) > 0 else 0,
        'std_value': np.std(value_nonzero) if len(value_nonzero) > 0 else 0,
        'cv_value': np.std(value_nonzero) / (np.mean(value_nonzero) + 1e-8) if len(value_nonzero) > 0 else 0,  # ë³€ë™ê³„ìˆ˜
        'range_value': np.max(value_nonzero) - np.min(value_nonzero) if len(value_nonzero) > 0 else 0,
        'max_value': np.max(value_nonzero) if len(value_nonzero) > 0 else 0,
        'min_value': np.min(value_nonzero) if len(value_nonzero) > 0 else 0,
        'std_log_value': np.std(log_value_series) if len(log_value_series) > 0 else 0,  # ë¡œê·¸ ë³€í™˜ í›„ í‘œì¤€í¸ì°¨
        'pct_change_std': pct_change_std,  # ë³€í™”ìœ¨ì˜ í‘œì¤€í¸ì°¨
        'zero_ratio': 1 - (non_zero_mask.sum() / len(value_series)),  # 0ê°’ ë¹„ìœ¨
    }
    volatility_metrics.append(metrics)

volatility_df = pd.DataFrame(volatility_metrics)

print(f"\nì´ {len(volatility_df)}ê°œ ì•„ì´í…œ ë¶„ì„ (2ê°œì›” ì´ìƒ ë°ì´í„° ìˆëŠ” ì•„ì´í…œ)")
print(f"\në³€ë™ì„± ì§€í‘œ ìš”ì•½:")
print(volatility_df[['cv_value', 'std_value', 'range_value', 'pct_change_std', 'zero_ratio']].describe())

print(f"\nì›ë³¸ ë°ì´í„° í†µê³„:")
print(f"  - í‰ê·  0ê°’ ë¹„ìœ¨: {volatility_df['zero_ratio'].mean():.2%}")
print(f"  - ìµœëŒ€ê°’ ë²”ìœ„: {volatility_df['max_value'].min():,.0f} ~ {volatility_df['max_value'].max():,.0f}")

volatility_df.head(10)

KeyError: 'log_value'

In [ ]:
# 1. ë³€ë™ê³„ìˆ˜(CV) ë¶„í¬ íˆìŠ¤í† ê·¸ë¨
fig, axes = plt.subplots(2, 2, figsize=(15, 12))

# 1-1. ë³€ë™ê³„ìˆ˜ ë¶„í¬
axes[0, 0].hist(volatility_df['cv_value'], bins=30, edgecolor='black', alpha=0.7)
axes[0, 0].axvline(volatility_df['cv_value'].median(), color='red', linestyle='--', 
                   label=f'ì¤‘ì•™ê°’: {volatility_df["cv_value"].median():.2f}')
axes[0, 0].set_xlabel('ë³€ë™ê³„ìˆ˜ (CV = std/mean)')
axes[0, 0].set_ylabel('ì•„ì´í…œ ìˆ˜')
axes[0, 0].set_title('ì•„ì´í…œë³„ ë³€ë™ê³„ìˆ˜ ë¶„í¬')
axes[0, 0].legend()
axes[0, 0].grid(True, alpha=0.3)

# 1-2. í‘œì¤€í¸ì°¨ ë¶„í¬
axes[0, 1].hist(volatility_df['std_value'], bins=30, edgecolor='black', alpha=0.7)
axes[0, 1].axvline(volatility_df['std_value'].median(), color='red', linestyle='--',
                   label=f'ì¤‘ì•™ê°’: {volatility_df["std_value"].median():,.0f}')
axes[0, 1].set_xlabel('í‘œì¤€í¸ì°¨')
axes[0, 1].set_ylabel('ì•„ì´í…œ ìˆ˜')
axes[0, 1].set_title('ì•„ì´í…œë³„ í‘œì¤€í¸ì°¨ ë¶„í¬')
axes[0, 1].legend()
axes[0, 1].grid(True, alpha=0.3)

# 1-3. ë²”ìœ„ ë¶„í¬
axes[1, 0].hist(volatility_df['range_value'], bins=30, edgecolor='black', alpha=0.7)
axes[1, 0].axvline(volatility_df['range_value'].median(), color='red', linestyle='--',
                   label=f'ì¤‘ì•™ê°’: {volatility_df["range_value"].median():,.0f}')
axes[1, 0].set_xlabel('ë²”ìœ„ (max - min)')
axes[1, 0].set_ylabel('ì•„ì´í…œ ìˆ˜')
axes[1, 0].set_title('ì•„ì´í…œë³„ ë²”ìœ„ ë¶„í¬')
axes[1, 0].legend()
axes[1, 0].grid(True, alpha=0.3)

# 1-4. ë³€í™”ìœ¨ í‘œì¤€í¸ì°¨ ë¶„í¬
axes[1, 1].hist(volatility_df['pct_change_std'], bins=30, edgecolor='black', alpha=0.7)
axes[1, 1].axvline(volatility_df['pct_change_std'].median(), color='red', linestyle='--',
                   label=f'ì¤‘ì•™ê°’: {volatility_df["pct_change_std"].median():.2f}')
axes[1, 1].set_xlabel('ë³€í™”ìœ¨ í‘œì¤€í¸ì°¨')
axes[1, 1].set_ylabel('ì•„ì´í…œ ìˆ˜')
axes[1, 1].set_title('ì•„ì´í…œë³„ ë³€í™”ìœ¨ ë³€ë™ì„± ë¶„í¬')
axes[1, 1].legend()
axes[1, 1].grid(True, alpha=0.3)

plt.tight_layout()
plt.show()

In [ ]:
# 2. í´ëŸ¬ìŠ¤í„°ë³„ ë³€ë™ì„± ë¹„êµ
fig, axes = plt.subplots(1, 2, figsize=(15, 5))

# 2-1. í´ëŸ¬ìŠ¤í„°ë³„ ë³€ë™ê³„ìˆ˜ ë°•ìŠ¤í”Œë¡¯
sns.boxplot(data=volatility_df, x='cluster', y='cv_value', ax=axes[0])
axes[0].set_xlabel('í´ëŸ¬ìŠ¤í„°')
axes[0].set_ylabel('ë³€ë™ê³„ìˆ˜ (CV)')
axes[0].set_title('í´ëŸ¬ìŠ¤í„°ë³„ ë³€ë™ê³„ìˆ˜ ë¶„í¬')
axes[0].grid(True, alpha=0.3)

# 2-2. í´ëŸ¬ìŠ¤í„°ë³„ í‘œì¤€í¸ì°¨ ë°•ìŠ¤í”Œë¡¯
sns.boxplot(data=volatility_df, x='cluster', y='std_value', ax=axes[1])
axes[1].set_xlabel('í´ëŸ¬ìŠ¤í„°')
axes[1].set_ylabel('í‘œì¤€í¸ì°¨')
axes[1].set_title('í´ëŸ¬ìŠ¤í„°ë³„ í‘œì¤€í¸ì°¨ ë¶„í¬')
axes[1].grid(True, alpha=0.3)

plt.tight_layout()
plt.show()

# í´ëŸ¬ìŠ¤í„°ë³„ ë³€ë™ì„± í†µê³„
print("\ní´ëŸ¬ìŠ¤í„°ë³„ ë³€ë™ì„± í†µê³„:")
print(volatility_df.groupby('cluster')[['cv_value', 'std_value', 'range_value']].agg(['mean', 'median', 'std']))

In [ ]:
# 3. ë³€ë™ì„±ì´ ë†’ì€/ë‚®ì€ ì•„ì´í…œ Top 10
volatility_df_sorted = volatility_df.sort_values('cv_value', ascending=False)

print("="*70)
print("ë³€ë™ì„±ì´ ë†’ì€ ì•„ì´í…œ Top 10 (ë³€ë™ê³„ìˆ˜ ê¸°ì¤€)")
print("="*70)
print(volatility_df_sorted[['item_id', 'hs4', 'cluster', 'cv_value', 'std_value', 'mean_value']].head(10))

print("\n" + "="*70)
print("ë³€ë™ì„±ì´ ë‚®ì€ ì•„ì´í…œ Top 10 (ë³€ë™ê³„ìˆ˜ ê¸°ì¤€)")
print("="*70)
print(volatility_df_sorted[['item_id', 'hs4', 'cluster', 'cv_value', 'std_value', 'mean_value']].tail(10))

# ë³€ë™ì„± ìˆœìœ„ ì°¨íŠ¸
fig, axes = plt.subplots(1, 2, figsize=(15, 6))

# 3-1. ë³€ë™ì„±ì´ ë†’ì€ Top 15
top_volatile = volatility_df_sorted.head(15)
axes[0].barh(range(len(top_volatile)), top_volatile['cv_value'], 
             color='coral', alpha=0.7, edgecolor='black')
axes[0].set_yticks(range(len(top_volatile)))
axes[0].set_yticklabels(top_volatile['item_id'], fontsize=8)
axes[0].set_xlabel('ë³€ë™ê³„ìˆ˜ (CV)')
axes[0].set_title('ë³€ë™ì„±ì´ ë†’ì€ ì•„ì´í…œ Top 15')
axes[0].grid(True, alpha=0.3, axis='x')
axes[0].invert_yaxis()

# 3-2. ë³€ë™ì„±ì´ ë‚®ì€ Top 15
bottom_volatile = volatility_df_sorted.tail(15)
axes[1].barh(range(len(bottom_volatile)), bottom_volatile['cv_value'], 
             color='lightblue', alpha=0.7, edgecolor='black')
axes[1].set_yticks(range(len(bottom_volatile)))
axes[1].set_yticklabels(bottom_volatile['item_id'], fontsize=8)
axes[1].set_xlabel('ë³€ë™ê³„ìˆ˜ (CV)')
axes[1].set_title('ë³€ë™ì„±ì´ ë‚®ì€ ì•„ì´í…œ Top 15')
axes[1].grid(True, alpha=0.3, axis='x')
axes[1].invert_yaxis()

plt.tight_layout()
plt.show()

In [ ]:
# 4. ë³€ë™ì„±ì´ ë†’ì€/ë‚®ì€ ì•„ì´í…œì˜ ì‹œê³„ì—´ í”Œë¡¯ (ì›ë³¸ ë°ì´í„°)
high_volatile_items = volatility_df_sorted.head(5)['item_id'].tolist()
low_volatile_items = volatility_df_sorted.tail(5)['item_id'].tolist()

fig, axes = plt.subplots(2, 1, figsize=(15, 10))

# 4-1. ë³€ë™ì„±ì´ ë†’ì€ ì•„ì´í…œ ì‹œê³„ì—´ (ì›ë³¸ value_sum ì‚¬ìš©)
for item_id in high_volatile_items:
    item_data = monthly_features[monthly_features['item_id'] == item_id].sort_values('ym')
    if len(item_data) > 0:
        cv_value = volatility_df[volatility_df['item_id'] == item_id]['cv_value'].values
        cv_str = f'{cv_value[0]:.2f}' if len(cv_value) > 0 else 'N/A'
        axes[0].plot(item_data['ym'], item_data['value_sum'], 
                    marker='o', markersize=3, label=f'{item_id} (CV={cv_str})', 
                    linewidth=1.5, alpha=0.7)

axes[0].set_xlabel('ë‚ ì§œ')
axes[0].set_ylabel('Value (ì›ë³¸ ê°’, ë³´ì •/í´ë¦¬í•‘ ì—†ìŒ)')
axes[0].set_title('ë³€ë™ì„±ì´ ë†’ì€ ì•„ì´í…œ Top 5 ì‹œê³„ì—´ (ì›ë³¸ ë°ì´í„°)')
axes[0].legend(loc='best', fontsize=8)
axes[0].grid(True, alpha=0.3)
axes[0].tick_params(axis='x', rotation=45)

# 4-2. ë³€ë™ì„±ì´ ë‚®ì€ ì•„ì´í…œ ì‹œê³„ì—´ (ì›ë³¸ value_sum ì‚¬ìš©)
for item_id in low_volatile_items:
    item_data = monthly_features[monthly_features['item_id'] == item_id].sort_values('ym')
    if len(item_data) > 0:
        cv_value = volatility_df[volatility_df['item_id'] == item_id]['cv_value'].values
        cv_str = f'{cv_value[0]:.2f}' if len(cv_value) > 0 else 'N/A'
        axes[1].plot(item_data['ym'], item_data['value_sum'], 
                    marker='o', markersize=3, label=f'{item_id} (CV={cv_str})', 
                    linewidth=1.5, alpha=0.7)

axes[1].set_xlabel('ë‚ ì§œ')
axes[1].set_ylabel('Value (ì›ë³¸ ê°’, ë³´ì •/í´ë¦¬í•‘ ì—†ìŒ)')
axes[1].set_title('ë³€ë™ì„±ì´ ë‚®ì€ ì•„ì´í…œ Top 5 ì‹œê³„ì—´ (ì›ë³¸ ë°ì´í„°)')
axes[1].legend(loc='best', fontsize=8)
axes[1].grid(True, alpha=0.3)
axes[1].tick_params(axis='x', rotation=45)

plt.tight_layout()
plt.show()

In [ ]:
# 5. ë³€ë™ì„± ì§€í‘œ ê°„ ìƒê´€ê´€ê³„ ë¶„ì„
fig, ax = plt.subplots(figsize=(10, 8))

# ë³€ë™ì„± ì§€í‘œ ê°„ ìƒê´€ê³„ìˆ˜ ê³„ì‚°
corr_cols = ['cv_value', 'std_value', 'range_value', 'pct_change_std', 'mean_value']
corr_matrix = volatility_df[corr_cols].corr()

# íˆíŠ¸ë§µ ìƒì„±
sns.heatmap(corr_matrix, annot=True, fmt='.2f', cmap='coolwarm', center=0,
            square=True, linewidths=1, cbar_kws={"shrink": 0.8}, ax=ax)
ax.set_title('ë³€ë™ì„± ì§€í‘œ ê°„ ìƒê´€ê´€ê³„')
plt.tight_layout()
plt.show()

print("\në³€ë™ì„± ì§€í‘œ ê°„ ìƒê´€ê³„ìˆ˜:")
print(corr_matrix)

In [ ]:
# 6. ë³€ë™ì„± ì •ë³´ë¥¼ monthly_featuresì— ì¶”ê°€ (ì„ íƒì‚¬í•­)
# ë³€ë™ì„± ì§€í‘œë¥¼ ì›ë³¸ ë°ì´í„°ì— mergeí•˜ì—¬ í™œìš© ê°€ëŠ¥
if len(volatility_df) > 0:
    volatility_summary = volatility_df[['item_id', 'cv_value', 'std_value', 'range_value', 'pct_change_std']].copy()
    volatility_summary.columns = ['item_id', 'item_cv_value', 'item_std_value', 'item_range_value', 'item_pct_change_std']
    
    # Merge (ì„ íƒì‚¬í•­ - í•„ìš”ì‹œ ì£¼ì„ í•´ì œ)
    # monthly_features = monthly_features.merge(volatility_summary, on='item_id', how='left')
    
    print("="*70)
    print("ì•„ì´í…œë³„ ë³€ë™ì„± ì‹œê°í™” ì™„ë£Œ!")
    print("="*70)
    print(f"\në³€ë™ì„± ì§€í‘œ ìš”ì•½:")
    print(f"  - í‰ê·  ë³€ë™ê³„ìˆ˜: {volatility_df['cv_value'].mean():.2f}")
    print(f"  - ì¤‘ì•™ê°’ ë³€ë™ê³„ìˆ˜: {volatility_df['cv_value'].median():.2f}")
    
    if len(volatility_df) > 0:
        max_idx = volatility_df['cv_value'].idxmax()
        min_idx = volatility_df['cv_value'].idxmin()
        print(f"  - ìµœëŒ€ ë³€ë™ê³„ìˆ˜: {volatility_df.loc[max_idx, 'cv_value']:.2f} (item_id: {volatility_df.loc[max_idx, 'item_id']})")
        print(f"  - ìµœì†Œ ë³€ë™ê³„ìˆ˜: {volatility_df.loc[min_idx, 'cv_value']:.2f} (item_id: {volatility_df.loc[min_idx, 'item_id']})")
    
    print(f"\në³€ë™ì„± ì§€í‘œ ë°ì´í„°í”„ë ˆì„ shape: {volatility_df.shape}")
    print(f"ë³€ë™ì„± ì§€í‘œ ë°ì´í„°í”„ë ˆì„ ì»¬ëŸ¼: {volatility_df.columns.tolist()}")
else:
    print("ê²½ê³ : ë³€ë™ì„± ì§€í‘œë¥¼ ê³„ì‚°í•  ìˆ˜ ìˆëŠ” ì•„ì´í…œì´ ì—†ìŠµë‹ˆë‹¤.")

In [ ]:
# 0ê°’ ì²˜ë¦¬ì™€ ìŠ¤ì¼€ì¼ ì•ˆì •ì„ ìœ„í•´ log1p ì‚¬ìš©
monthly_features['log_value'] = np.log1p(monthly_features['value_clip'])
monthly_features['log_weight'] = np.log1p(monthly_features['weight_clip'])
monthly_features['log_quantity'] = np.log1p(monthly_features['quantity_clip'])

print("ë¡œê·¸ ë³€í™˜ ì™„ë£Œ")
monthly_features[['value_clip', 'log_value', 'weight_clip', 'log_weight', 
                  'quantity_clip', 'log_quantity']].head(10)

ë¡œê·¸ ë³€í™˜ ì™„ë£Œ

   value_clip  log_value  weight_clip  log_weight  quantity_clip  log_quantity
0     14276.0   9.566405      17625.0    9.777130            0.0           0.0
1     52347.0  10.865669      67983.0   11.127028            0.0           0.0
2     53549.0  10.888371      69544.0   11.149729            0.0           0.0
3     26997.0  10.203518      34173.0   10.439220            0.0           0.0
4     84489.0  11.344388     103666.0   11.548939            0.0           0.0
5       299.0   5.703782         67.0    4.219508            0.0           0.0
6       574.0   6.354370         66.0    4.204693            0.0           0.0
7     41353.0  10.629924      50281.0   10.825402            0.0           0.0
8     26524.0  10.185843      32345.0   10.384246            0.0           0.0
9       340.0   5.831882         70.0    4.262680            0.0           0.0

## ğŸ”Ÿ ìµœì¢… ì»¬ëŸ¼ êµ¬ì„± ë° ì €ì¥

In [ ]:
# ìµœì¢… ì»¬ëŸ¼ ìˆœì„œ ì •ë¦¬
final_columns = [
    # ì‹ë³„ì/í‚¤
    'item_id', 'hs4', 'hs2', 'year', 'month', 'ym', 'cluster',
    # ì§‘ê³„ ì›ë³¸
    'value_sum', 'weight_sum', 'quantity_sum',
    # ê²°ì¸¡/0ê°’/í”Œë˜ê·¸
    'has_quantity_info_hs4', 'has_quantity_this_row',
    'weight_zero_flag', 'value_zero_flag',
    'weight_missing_flag', 'value_missing_flag',
    'value_extreme_flag', 'weight_extreme_flag', 'quantity_extreme_flag',
    # ë³´ì •Â·í´ë¦¬í•‘
    'weight_filled', 'value_filled',
    'value_clip', 'weight_clip', 'quantity_clip',
    # ë¡œê·¸ í”¼ì²˜
    'log_value', 'log_weight', 'log_quantity'
]

monthly_features = monthly_features[final_columns]

print("="*70)
print("ì „ì²˜ë¦¬ ì™„ë£Œ!")
print("="*70)
print(f"ìµœì¢… ë°ì´í„° shape: {monthly_features.shape}")
print(f"ì»¬ëŸ¼ ìˆ˜: {len(monthly_features.columns)}")
print("\nìµœì¢… ì»¬ëŸ¼ ëª©ë¡:")
for col in monthly_features.columns:
    print(f"  - {col}")

monthly_features.head()

======================================================================
ì „ì²˜ë¦¬ ì™„ë£Œ!
======================================================================
ìµœì¢… ë°ì´í„° shape: (3776, 27)
ì»¬ëŸ¼ ìˆ˜: 27

ìµœì¢… ì»¬ëŸ¼ ëª©ë¡:
  - item_id
  - hs4
  - hs2
  - year
  - month
  - ym
  - cluster
  - value_sum
  - weight_sum
  - quantity_sum
  - has_quantity_info_hs4
  - has_quantity_this_row
  - weight_zero_flag
  - value_zero_flag
  - weight_missing_flag
  - value_missing_flag
  - value_extreme_flag
  - weight_extreme_flag
  - quantity_extreme_flag
  - weight_filled
  - value_filled
  - value_clip
  - weight_clip
  - quantity_clip
  - log_value
  - log_weight
  - log_quantity

,item_id,hs4,hs2,year,month,ym,cluster,value_sum,weight_sum,quantity_sum,...,weight_extreme_flag,quantity_extreme_flag,weight_filled,value_filled,value_clip,weight_clip,quantity_clip,log_value,log_weight,log_quantity
0,AANGBULD,4810,48,2022,1,2022-01-01,other_industries,14276.0,17625.0,0.0,...,0,0,17625.0,14276.0,14276.0,17625.0,0.0,9.566405,9.777130,0.0
1,AANGBULD,4810,48,2022,2,2022-02-01,other_industries,52347.0,67983.0,0.0,...,0,0,67983.0,52347.0,52347.0,67983.0,0.0,10.865669,11.127028,0.0
2,AANGBULD,4810,48,2022,3,2022-03-01,other_industries,53549.0,69544.0,0.0,...,0,0,69544.0,53549.0,53549.0,69544.0,0.0,10.888371,11.149729,0.0
3,AANGBULD,4810,48,2022,5,2022-05-01,other_industries,26997.0,34173.0,0.0,...,0,0,34173.0,26997.0,26997.0,34173.0,0.0,10.203518,10.439220,0.0
4,AANGBULD,4810,48,2022,6,2022-06-01,other_industries,84489.0,103666.0,0.0,...,0,0,103666.0,84489.0,84489.0,103666.0,0.0,11.344388,11.548939,0.0

In [ ]:
# CSV ì €ì¥
output_path = 'monthly_features.csv'
monthly_features.to_csv(output_path, index=False)
print(f"\nê²°ê³¼ ì €ì¥ ì™„ë£Œ: {output_path}")
print(f"íŒŒì¼ í¬ê¸°: {Path(output_path).stat().st_size / 1024 / 1024:.2f} MB")

ê²°ê³¼ ì €ì¥ ì™„ë£Œ: monthly_features.csv
íŒŒì¼ í¬ê¸°: 0.63 MB